* {
  box-sizing: border-box;
}
#page-container {
  position: relative;
  min-height: 200px;
  
}
#content-wrapper {

  padding-bottom: 300px; /* Footer height so that text does not go behind */
}
/* ------------ Header Styling ----------- */

header {
  background-color: #FFB6C1;
  height: 100px;
  position: sticky;
  width: 100%;
}
.headerNavBar {
 
  padding-left: 350px;
  padding-right: 350px;
  overflow: hidden;
  height: 45px;
  background-color: #FFB6C1;
  position: sticky; /* Set the navbar to a position based on users scrolling */
  top: 105px; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
.headerNavBar a {
  text-align: center;
  text-decoration: none;
  padding: 30px;
  vertical-align: middle;
}
.headerNavBar a:hover {
  background: rgb(74, 239, 245);
  color: black;
}



/* ------------ Body Styling ---------- */
main {
  text-align: center;
}


}
p{
  font-size: 20px;
}
body {
  background-color: #ffffe0;
  width: 3000;
  padding: 100px;
}
h1 {
  font-size: 35px;
  font-weight: bold;
}

/*-----------------------Location Styling----------------------*/
.seattleLocation {
  float: left;
  width: 50%;
} 
.parisLocation {
  float: right;
  width: 50%;
}
.tokyoLocation {
  float: left;
  width: 50%;

}
.dubaiLocation {
  float: right;
  width: 50%;

}
.limaLocation {
  float: left;
  width: 50%;

}
.franchiseLocation {
  float: right;
  width: 50%;
}

.hoursOfOperation {
  font-weight: bold;
}

/* ------------ Footer -------------- */
footer {
  height: 75px;
  position: sticky;
  width: 100%;
  padding: 30px;
  background-color:#FFB6C1;
  text-align: center;
  clear: both;
}

.footerNavbar {
  overflow: hidden;
  height: 25px;
  background-color: cornflowerblue;
  left: 0;
  position: absolute;
  bottom: 75px; /* Position the navbar at the bottom of the page */
  width: 100%; /* Full width */
}

.footerNavbar a {
  text-align: center;
  padding: 30px;
  text-decoration: none;
}
.footerNavbar a:hover {
  background: rgb(245, 157, 157);
  color: black;
}

.socialIcons {
  text-align: center;
  float: left;
}
