* {
  box-sizing: border-box;
}
header {
  height: 75px;
  background-color: midnightblue;
  color: mistyrose;
  text-align: center;
  width: 100%;
  font-size: 20px;
}

#headerNav ul li {
  color: black;
  font-size: 30px;
  display: inline;
  text-align: center;
  padding: 30px;
  margin: 5px;
}
main {
  text-align: center;
}
.cookies{
  background-color: #0074D9;
  width: 1000px;
  height: 1000px;
  display: inline-block;
  padding: 30px;
}
h3 {
  font-weight: bolder;
  font-size: 30px;
}
.locationList li{
  font-weight: 800;
  font-size: 20px;
}
p{
  font-size: 15px;
}
body {
  background-color: #ffffe0;
  width: 3000;
  padding: 100px;
}
h1 {
  font-size: 35px;
  font-weight: bold;
}

footer {
  background-color: rgb(151, 41, 1);
  display: inline-block;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 150px;
  position: fixed;
  clear: both;
}

#footNav ul li {
  color: black;
  font-size: 30px;
  text-align: center;
  display: inline;
  padding: 30px;
}

.social {
  float: left;
  padding: 55px;
  font-size: 35px;
  text-align: center;
}



/*-----------------------Location Styling----------------------*/
.seattleLocation {
  float: left;
  width: 50%;
} 
.parisLocation {
  float: right;
  width: 50%;
}
.tokyoLocation {
  float: left;
  width: 50%;

}
.dubaiLocation {
  float: right;
  width: 50%;

}
.limaLocation {
  float: left;
  width: 50%;

}
.franchiseLocation {
  float: right;
  width: 50%;


}



/* ---------------------------Family Page--------------------------- */


/*--------------Employee Page----------------------*/


/* ---------- HomePage ----------*/
